body {
    font-family: serif;
    text-align: center;
    background-image: url("../image/fundo-pupila.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
    margin: auto;
}

audio {
    width: 200px;
}

main > section {
    line-height: 30px;
    font-size: 14px;
}

main > a {
    padding: 5px;
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin-top: 30px;
    text-align: center;
    max-width: 300px;
    margin: auto;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    background-color: rgba(12, 0, 4, 0.781);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}

footer a:hover {
    text-decoration: underline;
}