body {
    height: 100vh;
    overflow-x: hidden;
    background: #040309 url("../image/fundo-saturno.png") center center;
    background-attachment: contain;
    background-repeat: no-repeat;
}

section {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    margin-top: 60px;
}

img {
    display: none;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

#printButton {
    position: absolute; /* Fixar o botão em relação à janela de visualização */
    top: 10px; /* Distância do topo da janela */
    right: 10px; /* Distância da borda direita da janela */
    z-index: 1000; /* Garantir que o botão fique sobre outros elementos */
    background-color: #d18fc3; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remover borda padrão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    text-align: center; /* Centralizar o texto */
    text-decoration: none; /* Remover decoração de texto (sublinha) */
    display: inline-block; /* Permitir ajustar tamanho do botão */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Mudar o cursor para uma mão ao passar por cima */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de profundidade */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

#printButton:hover {
    background-color: #523875; /* Cor de fundo ao passar o mouse */
}
